<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
      <listener class-name="listeners.Listeners"/>
 </listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="base.Base"/>
      <class name="AutomationScripts.ContectScripts.ContectPageTest"/>
      <class name="AutomationScripts.ContectScripts.ContectDetailsTest"/>
      
      
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
